@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
  scroll-behavior: smooth;
}
body {
  background-color: black !important;
  color: white;
  font-family: "Lato", sans-serif;
}
[data-aos] {
  overflow: hidden;
}
.hero-container h2{
  font-size: 10px !important;
}
a {
  color: #DAA520;
  text-decoration: none;
}

a:hover {
  color: #DAA520;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.alert {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #DAA520;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #DAA520;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  z-index: 997;
  transition: all 0.5s;
  height: 80px;
  background: rgba(25, 28, 31, 0.8);
}
#header.header-transparent {
  background: transparent;
}
#header.header-scrolled {
  height: 60px;
  background: rgba(25, 28, 31, 0.8);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}
.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #DAA520;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(36, 41, 46, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 14px;
  color: #333333;
}
.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #DAA520;
}
.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/minimalist.jpeg") top right;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.80);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 15px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 58px;
  font-family: 'Playfair Display', serif;
  /* font-family: "Satisfy", serif; */
  color: #fff;
}

#hero h2 {
  color: #eee;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#hero .btn-scroll {
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.6);
  animation: up-down 1s ease-in-out infinite alternate-reverse both;
}

#hero .btn-scroll i {
  font-size: 30px;
}

#hero .btn-scroll:hover {
  color: #DAA520;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 575px) {
  #hero h1 {
    font-size: 40px;
  }

  #hero h2 {
    text-align: center;
    margin-bottom: 50px;
  }
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(5px);
  }

  100% {
    transform: translateY(-5px);
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}
.section-title {
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.section-title h2 {
  font-size: 36px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 50px;
  padding-bottom: 0;
  color: #eef0f2;
  position: relative;
  z-index: 2;
}
.section-title span {
  position: absolute;
  font-family: "Raleway", sans-serif;
  top: 80px;
  color: rgb(34, 33, 33);
  left: 0;
  right: 0;
  z-index: 1;
  font-weight: 700;
  font-size: 45px;
  text-transform: uppercase;
  line-height: 0;
}
.section-title p {
  margin-bottom: 0;
  position: relative;
  z-index: 2;
}
@media (max-width: 575px) {
  .section-title h2 {
    font-size: 28px;
    margin-top: 15px;
  }

  .section-title span {
    font-size: 38px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f4f5f6;
  min-height: 40px;
  margin-top: 78px;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 60px;
  }
}
.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}
@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol li+li {
  padding-left: 10px;
}
.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}
@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/
.about p{
  color: #eef0f2;
  font-size: 16px;
}
.about .icon-box {
  padding: 10px;
  position: relative;
  overflow: hidden;
  background: black;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 2px solid #DAA520;
  border-radius: 10px;
}
.about .icon-box p{
  font-size: 14px !important;
  font-weight: bold;
  text-transform: uppercase;
}
.about .icon {
  margin: 0 auto 10px auto;
  padding-top: 15px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 52px;
  height: 52px;
  border: 2px solid white;
}
.about .icon i {
  font-size: 26px;
  line-height: 1;
  color: #DAA520;
}
.about .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}
.about .title {
  color: white;
  transition: 0.3s;
}
.about .description {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
}
.about .icon-box:hover {
  background-color: #DAA520;
  border: 2px solid white;

}
.about .icon-box:hover .title{
  color: white;
}
.about .icon-box:hover .icon i{
  color: white;
}
.about .icon-box:hover .icon{
  border: 2px solid white;
}
/*--------------------------------------------------------------
# About Me
--------------------------------------------------------------*/

#skills .skills{
  padding: 20px;
}
#skills .skills{
  transition: transform 0.4s ease; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#skills .skills:hover {
  transform: scale(1.09);
}
.skills {
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid #DAA520;
}
.skills p{
  color: white;
}
.skills i{
  font-size: 70px;
}
.project1{
  background-image: url('/assets/img/starlight_hms.png')
}
.project2{
  background-image: url('/assets/img/starfish.png')
}
.project3{
  background-image: url('/assets/img/nestore.png')
}
.project3{
  background-image: url('/assets/img/portfolio_new.png')
}
.project4{
  background-image: url('/assets/img/admin.png')
}
.project5{
  background-image: url('/assets/img/woodland.png')
}
.project6{
  background-image: url('/assets/img/booktopia.png')
}
.project7{
  background-image: url('/assets/img/islander.png')
}
.project8{
  background-image: url('/assets/img/loan_calculator.png')
}
.project9{
  background-image: url('/assets/img/buyroo.png')
}
.project10{
  background-image: url('/assets/img/temp_converter.png')
}
.project11{
  background-image: url('/assets/img/prettiquotes.png')
}
.project12{
  background-image: url('/assets/img/starlight_front.png')
}
.project-card {
  position: relative;
  height: 300px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease;
}
.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.20); 
  z-index: 1;
}
.project-card:hover {
  transform: scale(1.05);  
}
.project-info {
  position: relative;
  z-index: 2;
}
.project-info {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
  background: rgba(0,0,0,0.8); 
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #DAA520;
  max-width: 70%;
}
.project-info h4 {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 16px;
}
.project-info p {
  margin: 0 0 10px;
  font-size: 14px;
}
.project-card .btn{
  color: #DAA520;
  border: 2px solid #DAA520;
  font-weight: bold;
  font-size: 12px;
}
.project-card .btn:hover{
  color: white;
  border: 2px solid white;
  background-color: #DAA520;
}
.github-link .btn{
  font-size: 16px;
  color: #DAA520;
  border: 2px solid #DAA520;
  font-weight: bold;
}
.github-link .btn:hover{
  color: white;
  border: 2px solid white;
  background-color: #DAA520;
}


.myinner3{
  overflow: hidden;
}
@media screen and (max-width : 1920px){
  .myinner3 img{
    width: 100%;
    height: 42vh;
  }
}
@media screen and (max-width : 800px){
  .myinner3 img{
    width: 100%;
    height: auto;
  }
}
.imagecontainer {
  position: relative; 
}
.imagecard:hover {
  background: #DAA520;
}
.imagecard {
  border-radius: 8px;
}
.image {
  display: block;
  width: fit-content;
}
.middle {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.imagecontainer .image{
  opacity: 0.6;
}
.imagecontainer:hover .image {
  transition: all 0.3s ease-in-out;
  opacity: 0.1;
}
.imagecontainer:hover .middle {
  opacity: 8;
}
.imagetext i{
  text-align: center !important;
}
.imagetext a{
  color: white;
  font-size: 16px;
  font-weight: 800;
  text-align: center;
}


/*--------------------------------------------------------------
# Contact 
--------------------------------------------------------------*/
.contact p{
  font-size: 16px;
  color: white;
  /* margin-top: 15px; */
}
.contact .section-title p{
  font-size: 16px;
  color: white;
  line-height: 13px;
}
.contact .info-box {
  color: black;
  text-align: center;
  border: 1px solid white;  
  padding: 10px 0 20px 0;
}
.contact .info-box i.bx {
  font-size: 16px;
  color: #DAA520;
  border-radius: 50%;
  padding: 8px;
  background: white;
}
.contact .info-box h3 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin: 15px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 16px;
  margin-bottom: 0;
  color: #999999;
}
.contact .social-links {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.contact .social-links a {
  font-size: 14px;
  display: inline-block;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 50px;
  border: 1px solid white;
}
.emailbox a {
  text-decoration: none !important;
}
.contact .social-links a:hover {
  color: white;
  border-color: #DAA520;
  background: #DAA520;
}
.contact .email-form {
  padding: 20px;
  border: 1px solid whitesmoke;  
}
.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .email-form input::focus,
.contact .email-form textarea::focus {
  background-color: #DAA520;
}
.contact .email-form button[type=submit] {
  padding: 8px;
  border-radius: 5px;
  margin-top: 13px;
  color: #DAA520;
  border: 2px solid #DAA520;
  font-size: 14px;
  font-weight: bold;
  transition: transform 0.4s ease;
  background: none;
}
.contact .email-form button[type=submit]:hover {
  color: white;
  border: 2px solid white;
  background-color: #DAA520;
  transform: scale(1.09);
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer1::before {    
  content: "";
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.80);
}
.footer1 {
  background: url("../img/minimalist.jpeg") center no-repeat;
  min-height: 100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
} 
.footercontainer{
  width: 100%;
  height: fit-content;
  text-align: center;
}
.footer1 .social-links a {
  display: inline-block;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #dde1e4;
  transition: transform 0.3s ease;
}
.footer1 .social-links a:hover {
  color: white;
  border-color: white;
  background: white;
  transform: scale(1.09);
}
.footer1 .social-links i.bx {
  font-size: 20px;
  color: #DAA520;
  border-radius: 50%;
  background: white;
}
.footer1 .social-links i.bx:hover {
  color: #DAA520;
  background: white;
}
.footer2 {
  background: url("../img/minimalist.jpeg") top center no-repeat;
  background-size: cover;
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 30px 0;
  position: relative;
}
.footer2::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.80);
}
.footer2 .social-links a {
  display: inline-block;
  line-height: 1;
  margin: 0 8px;
  transition: 0.3s;
  padding: 5px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid #dde1e4;
  transition: transform 0.3s ease;
}
.footer2 .social-links a:hover {
  color: white;
  border-color: white;
  background: white;
  transform: scale(1.09);
}
.footer2 .social-links i.bx {
  font-size: 20px;
  color: #DAA520;
  border-radius: 50%;
  background: white;
}
.footer2 .social-links i.bx:hover {
  color: #DAA520;
  background: white;
}
@media screen and (max-width : 1920px){
  .footer1{
    display: block;
  }
  .footer2{
    display: none;
  }
  .footer1 .container {
    position: relative;
  }
}
@media screen and (max-width : 906px){
  .footer1{
    display: none;
  }
  .footer2{
    display: block;
  }
  .footer2 .container {
    position: relative;
  }
}
